@tailwind base;
@tailwind components;
@tailwind utilities;

.title{
    @apply capitalize  text-lg transition-all duration-500  cursor-pointer hover:underline
}
.formdiv{
    @apply flex flex-col flex-wrap mx-1 mt-4
}
.field{
  @apply border-0 outline-none border-b border-gray-600 p-2
}
.line-clamp-3{
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient:vertical;
}
.line-clamp-2{
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient:vertical;
}

@keyframes wiggle {
  from{
    opacity: 1
  }
  to{
    opacity: 0
  }


}
